@import url(./variable.css);

@import url(./reset.css);

.navbar,
.banner,
.movies {
  padding: 0 var(--px);
}

.section-heading {
  font-size: var(--section-heading);
  font-weight: var(--fw-5);
  margin-bottom: 60px;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.navbar {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu-btn {
  display: none;
}

nav {
  margin-right: 200px;
}

.navbar-nav {
  display: flex;
}

.navbar-nav li:not(:last-child) {
  margin-right: 60px;
}

.navbar-link {
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}

.navbar-link:hover {
  color: var(--light-azure);
}


.indicator {
  position: relative;
}

.indicator::after {
  content: '';
  background: var(--live-indicator);
  position: absolute;
  top: calc(50% - 1px);
  right: -15px;
  width: 4px;
  height: 4px;
  box-shadow: 0 0 0 2px var(--live-indicator-shadow);
  border-radius: 5px;
}

.navbar-actions {
  display: flex;
  align-items: center;
}

.navbar-form {
  position: relative;
  margin-right: 50px;
}

.navbar-form-search {
  background: var(--oxford-blue);
  width: 100%;
  padding: 12px 20px;
  border-radius: 15px;
  color: var(--off-white);
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
}

.navbar-form-btn {
  background: var(--oxford-blue);
  position: absolute;
  top: calc(50% - 10px);
  right: 10px;
}

.navbar-form-search::placeholder {
  color: var(--off-white);
}

.navbar-form-close,
.navbar-search-btn {
  display: none;
}

.navbar-signin {
  display: flex;
  align-items: center;
  font-size: var(--fs-sm);
  margin-left: 10px;
}

.navbar-signin:hover span {
  color: var(--light-azure);
}


.banner {
  margin-bottom: 60px;
}

.banner-card {
  position: relative;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
}

.banner-img {
  object-position: top;
}

.banner-card:hover .banner-img {
  transform: scale(1.1);
}

.banner-card .card-content {
  position: absolute;
  right: 80px;
  bottom: 60px;
  left: 80px;
}

.banner-card .card-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.banner-card .card-info div {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.banner-card .card-info span {
  font-weight: var(--fw-6);
}

.banner-card .card-info .quality {
  background: var(--azure);
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: var(--fw-7);
}

.banner-card .card-title {
  font-size: 3em;
  color: var(--white);
  text-shadow: 2px 0 2px #0007;
}



.movies {
  margin-bottom: 60px;
}

input~.checked-radio-bg {
  --width: 85px;
  --left: 5px;

  background: var(--oxford-blue);
  position: absolute;
  top: 5px;
  left: var(--left);
  bottom: 5px;
  width: var(--width);
  border-radius: 10px;
}

#popular:checked~.checked-radio-bg {
  --width: 73px;
  --left: 90px;
}

#newest:checked~.checked-radio-bg {
  --width: 81px;
  --left: 163px;
}

.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 30px;
  margin-bottom: 60px;
}

.movie-card {

  --scale: 0.8;

  cursor: pointer;
}

.movie-card .card-head {
  position: relative;
  height: 250px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}

.movie-card:hover .card-img {
  transform: scale(1.1);
}

.movie-card .card-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  backdrop-filter: blur(5px);
}

.movie-card:hover .card-overlay {
  opacity: 1;
}

.movie-card .bookmark,
.movie-card .rating {
  position: absolute;
  top: 15px;
  padding: 6px;
  border-radius: 10px;
  color: var(--light-azure);
  transform: scale(var(--scale));
}

.movie-card .bookmark {
  background: var(--oxford-blue);
  left: 15px;
}

.movie-card .bookmark:hover {
  color: var(--yellow);
}

.movie-card .rating {
  display: flex;
  align-items: center;
  right: 15px;
  background: var(--oxford-blue-50);
}

.movie-card .rating span {
  color: var(--white);
  font-size: 13px;
  font-weight: var(--fw-5);
  margin-left: 5px;
}

.movie-card .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale));
}

.movie-card:hover :is(.bookmark, .rating, .play) {
  --scale: 1;
}

.movie-card .card-title {
  font-size: var(--fs-md);
  font-weight: var(--fw-5);
  margin-bottom: 5px;
}

.movie-card:hover .card-title {
  color: var(--light-azure);
}

.movie-card .card-info {
  display: flex;
  font-size: var(--fs-x-sm);
  font-weight: var(--fw-5);
}

.movie-card .genre {
  margin-right: 8px;
}


.load-more {
  background: var(--oxford-blue);
  display: block;
  padding: 20px 50px;
  margin: auto;
  font-size: var(--fs-sm);
  font-weight: var(--fw-5);
  border-radius: 15px;
  color: var(--white);
}

.load-more:hover {
  background: var(--light-azure);
}

footer {
  padding: 40px;
  margin-top: 20px;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-bottom: 1px solid var(--oxford-blue-50);
  padding-bottom: 80px;
}

.slogan {
  font-size: var(--fs-sm);
  line-height: 20px;
  margin-bottom: 20px;
}

.wrapper a {
  font-size: var(--fs-sm);
}

.wrapper a:hover {
  color: var(--light-azure);
}

.wrapper {
  display: flex;
}

.wrapper a:not(:last-child) {
  margin-right: 30px;
}

.comments {
  background: darkblue;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 550px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.comments>p {
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
}

.comments-title {
  text-align: center;
  padding-top: 10px;
}

.comments-section {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
}

.comments-box {
  background-color: black;
  margin: 5px;
  padding: 10px;

}

.comments-box>h6 {
  text-align: left;
  color: white;
  margin-bottom: 10px;
}

.comments-box>p {
  color: white;
}

.comments-box>button {
  display: block;
  margin: auto;
}

.comments-button {
  width: 100px;
  margin: 10px;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  gap: 10px;
}

.addcomment-box {
  max-width: 550px;
  padding: 5px 10px;
  margin: auto;
  background-color: darkblue;
  margin-bottom: 40px;
}

.addcomment-box p {
  text-align: center;
  font-size: 28px;
  color: #777;
}

.addcomment-box textarea {
  background-color: black;
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ddd;
  color: white;
}


.not-found-info {
  margin: 200px auto;
  text-align: center;
}

.errors {
  text-align: center;
  color: red;
  margin-top: 10px;
}

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-left: 550px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}